<footer class="bg-dark text-light text-center py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contatti</h5>
        <ul class="list-unstyled" id="contact">
          <li>Indirizzo: Via Example, 123</li>
          <li>Email: info&#64;example.com</li>
          <li>Telefono: +39 123 456 789</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Link Utili</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link">Termini di Servizio</a></li>
          <li><a href="#" class="footer-link">Privacy Policy</a></li>
          <li><a href="#" class="footer-link">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link"><i class="fab fa-facebook me-1"></i> Facebook</a></li>
          <li><a href="#" class="footer-link"><i class="fab fa-twitter me-1"></i> Twitter</a></li>
          <li><a href="#" class="footer-link"><i class="fab fa-instagram me-1"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr class="mb-4">
    <p>&copy; 2024 Best Courses. Tutti i diritti riservati.</p>
  </div>
</footer>