<nav class="navbar navbar-expand-lg bg-dark opacity-75 sticky-top" style="border-bottom: 1px solid royalblue;">
  <div class="container-fluid">
    <a class="navbar-brand text-white font-monospace" routerLink="/">
      <img src="assets/education.svg" alt="logo" height="30">
    </a>

    <span *ngIf="email" class="text-white ms-3">Bentornato, {{ email }}</span>

    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-monospace" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto fw-semibold">
        <li class="nav-item">
          <a class="nav-link text-light letter-spacing-sm" aria-current="page" routerLink="">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light letter-spacing-sm" routerLink="/courses">CORSI</a>
        </li>
        <li *ngIf="!email" class="nav-item">
          <a class="nav-link text-light rounded-3 letter-spacing-sm" routerLink="/register">REGISTRATI</a>
        </li>
        <li *ngIf="!email" class="nav-item">
          <a class="nav-link text-light rounded-3 letter-spacing-sm" routerLink="/login">ACCEDI</a>
        </li>
        <li *ngIf="email" class="nav-item">
          <a class="nav-link text-light rounded-3 letter-spacing-sm" href="#" (click)="logout()">ESCI</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

