<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card h-100" id="signup">
        <div class="card-header bg-dark text-white">
          <h3 class="card-title">Registrazione</h3>
        </div>
        <div class="card-body">
          <p>Registrati per accedere ai nostri corsi e iniziare a imparare in modo semplice e intuitivo.</p>
          <form #form="ngForm" (ngSubmit)="onRegister(form)">
            <div class="form-group">
              <label for="firstname">Nome<span class="text-danger"> *</span></label>
              <input 
                type="text" 
                id="firstname" 
                name="firstname" 
                class="form-control"
                [(ngModel)]="signUpRequest.firstname"
                required 
                #firstname="ngModel"
                maxlength="30">
              <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
                class="form-text text-danger">Nome è obbligatorio.</div>
            </div>
            <div class="form-group">
              <label for="lastname">Cognome<span class="text-danger"> *</span></label>
              <input 
                type="text" 
                id="lastname" 
                name="lastname" 
                class="form-control"
                [(ngModel)]="signUpRequest.lastname"
                required 
                #lastname="ngModel"
                maxlength="30">
              <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
                class="form-text text-danger">Cognome è obbligatorio.</div>
            </div>
            <div class="form-group">
              <label for="email">Email<span class="text-danger"> *</span></label>
              <input 
                type="email" 
                id="email" 
                name="email" 
                class="form-control"
                [(ngModel)]="signUpRequest.email" 
                required 
                email 
                #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="form-text text-danger">Email non valida.</div>
            </div>
            <div class="form-group">
              <label for="password">Password<span class="text-danger"> *</span></label>
              <input 
                type="password" 
                id="password" 
                name="password" 
                class="form-control"
                [(ngModel)]="signUpRequest.password" 
                required 
                (input)="assessPasswordStrength(signUpRequest.password)"
                #password="ngModel"
                minlength="6"
                maxlength="20"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])^[A-Za-z\d@$!%*?&]{6,20}$">
              <div *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors?.['minlength']" class="form-text text-danger">La password deve essere di almeno 6 caratteri.</div>
                <div *ngIf="password.errors?.['maxlength']" class="form-text text-danger">La password non può superare i 20 caratteri.</div>
                <div *ngIf="password.errors?.['pattern']" class="form-text text-danger">La password deve contenere almeno una lettera maiuscola, una minuscola, un numero e un carattere speciale.</div>
              </div>
              <div *ngIf="signUpRequest.password" class="password-strength" [ngClass]="passwordStrength.toLowerCase()">
                {{ passwordStrength }}
              </div>
              <div *ngIf="password.invalid && (password.dirty || password.touched)"
                class="form-text text-danger">Password obbligatoria.</div>
            </div>
            <button type="submit" class="btn btn-dark btn-block mt-3" [disabled]="form.invalid">
              Registrati
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
